bucket_1/ExecuteStatelessPG200M3.json
{
  "externalControllerServices" : { },
  "flow" : {
    "createdTimestamp" : 1716564084972,
    "description" : "",
    "identifier" : "ExecuteStatelessPG200M3",
    "lastModifiedTimestamp" : 1716564084972,
    "name" : "ExecuteStatelessPG_2_0_0_M3",
    "versionCount" : 0
  },
  "flowContents" : {
    "comments" : "",
    "componentType" : "PROCESS_GROUP",
    "connections" : [ {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "9c887999-aaac-36b8-8126-a7d5c88f045b",
        "name" : "out1",
        "type" : "OUTPUT_PORT"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "13fe1487-cdb2-386b-afe4-e77460cacdc1",
      "labelIndex" : 1,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "7d57564a-c37d-31da-9c9e-065a933a3056",
        "name" : "PublishKafka_2_6",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "groupId" : "27de6ae8-e66b-3f2a-bfb5-d4aa7e9d007f",
        "id" : "e2933c5b-86cb-3395-ad89-996f5c7907a1",
        "name" : "i",
        "type" : "INPUT_PORT"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "82e64c06-eb55-396b-9fdf-cfd25057356d",
      "labelIndex" : 1,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "" ],
      "source" : {
        "comments" : "",
        "groupId" : "a1418310-583e-37b6-ae93-fdaa527a089a",
        "id" : "c45df453-f04c-30f5-b501-3e94aefc5161",
        "name" : "output",
        "type" : "OUTPUT_PORT"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "7d57564a-c37d-31da-9c9e-065a933a3056",
        "name" : "PublishKafka_2_6",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "d0ded3a2-efac-3f05-90f5-c84510c06692",
      "labelIndex" : 1,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "" ],
      "source" : {
        "groupId" : "27de6ae8-e66b-3f2a-bfb5-d4aa7e9d007f",
        "id" : "5b60d542-5ea2-32b1-a9c1-8cf05f632ab4",
        "name" : "o",
        "type" : "OUTPUT_PORT"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "a1418310-583e-37b6-ae93-fdaa527a089a",
        "id" : "9edb0e23-f2f2-3be0-89c3-9f07786a8a04",
        "name" : "input",
        "type" : "INPUT_PORT"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "9dce0669-ef85-3914-b7a9-16c5521f3c81",
      "labelIndex" : 1,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "2f559c1a-a028-301a-ada8-ebc9407be87b",
        "name" : "ConsumeKafka_2_6",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    } ],
    "controllerServices" : [ ],
    "defaultBackPressureDataSizeThreshold" : "1 GB",
    "defaultBackPressureObjectThreshold" : 10000,
    "defaultFlowFileExpiration" : "0 sec",
    "executionEngine" : "STATELESS",
    "externalControllerServiceReferences" : { },
    "flowFileConcurrency" : "SINGLE_BATCH_PER_NODE",
    "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
    "funnels" : [ ],
    "identifier" : "flow-contents-group",
    "inputPorts" : [ ],
    "labels" : [ ],
    "logFileSuffix" : "",
    "maxConcurrentTasks" : 1,
    "name" : "ExecuteStatelessPG_2_0_0_M3",
    "outputPorts" : [ {
      "allowRemoteAccess" : false,
      "comments" : "",
      "componentType" : "OUTPUT_PORT",
      "concurrentlySchedulableTaskCount" : 1,
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "9c887999-aaac-36b8-8126-a7d5c88f045b",
      "name" : "out1",
      "portFunction" : "STANDARD",
      "position" : {
        "x" : 2200.0,
        "y" : 80.0
      },
      "scheduledState" : "ENABLED",
      "type" : "OUTPUT_PORT"
    } ],
    "parameterContextName" : "ExecuteStatelessPG",
    "position" : {
      "x" : 0.0,
      "y" : 0.0
    },
    "processGroups" : [ {
      "comments" : "",
      "componentType" : "PROCESS_GROUP",
      "connections" : [ {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "a1418310-583e-37b6-ae93-fdaa527a089a",
          "id" : "414b1bd0-bd7c-3f8f-a2b4-131314722623",
          "name" : "UpdateAttribute",
          "type" : "PROCESSOR"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "a1418310-583e-37b6-ae93-fdaa527a089a",
        "identifier" : "164730b9-7c0a-37b5-b040-e5c14b27c8e3",
        "labelIndex" : 1,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "success" ],
        "source" : {
          "comments" : "",
          "groupId" : "a1418310-583e-37b6-ae93-fdaa527a089a",
          "id" : "ef63d2e5-8045-3854-8648-841bf55b88ef",
          "name" : "ReplaceText",
          "type" : "PROCESSOR"
        },
        "zIndex" : 0
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "a1418310-583e-37b6-ae93-fdaa527a089a",
          "id" : "4888aa82-c94f-3273-8e97-a9ad9f2d9ff8",
          "name" : "2 attr",
          "type" : "PROCESSOR"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "a1418310-583e-37b6-ae93-fdaa527a089a",
        "identifier" : "b29ff2b4-bec5-325f-9c4b-0d3ce449a3b4",
        "labelIndex" : 1,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "" ],
        "source" : {
          "comments" : "",
          "groupId" : "a1418310-583e-37b6-ae93-fdaa527a089a",
          "id" : "9edb0e23-f2f2-3be0-89c3-9f07786a8a04",
          "name" : "input",
          "type" : "INPUT_PORT"
        },
        "zIndex" : 0
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "a1418310-583e-37b6-ae93-fdaa527a089a",
          "id" : "d2e8c6c5-5692-3a9a-a6a5-8bbd8602594e",
          "name" : "ReplaceText",
          "type" : "PROCESSOR"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "a1418310-583e-37b6-ae93-fdaa527a089a",
        "identifier" : "a982dd8a-b391-3620-b671-176ddfb7cd6c",
        "labelIndex" : 1,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "matched" ],
        "source" : {
          "comments" : "",
          "groupId" : "a1418310-583e-37b6-ae93-fdaa527a089a",
          "id" : "4888aa82-c94f-3273-8e97-a9ad9f2d9ff8",
          "name" : "2 attr",
          "type" : "PROCESSOR"
        },
        "zIndex" : 0
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "a1418310-583e-37b6-ae93-fdaa527a089a",
          "id" : "8bc971aa-c046-3556-8489-505afa9abd4b",
          "name" : "ReplaceText",
          "type" : "PROCESSOR"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "a1418310-583e-37b6-ae93-fdaa527a089a",
        "identifier" : "d4ae433b-ef94-3579-8921-a4baefe27292",
        "labelIndex" : 1,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "success" ],
        "source" : {
          "comments" : "",
          "groupId" : "a1418310-583e-37b6-ae93-fdaa527a089a",
          "id" : "414b1bd0-bd7c-3f8f-a2b4-131314722623",
          "name" : "UpdateAttribute",
          "type" : "PROCESSOR"
        },
        "zIndex" : 0
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "a1418310-583e-37b6-ae93-fdaa527a089a",
          "id" : "14434817-11b1-3bba-9beb-dabde9b9d3f7",
          "name" : "ReplaceText",
          "type" : "PROCESSOR"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "a1418310-583e-37b6-ae93-fdaa527a089a",
        "identifier" : "97e0c1c2-d470-3e40-bf98-7ebd2d6ee6f9",
        "labelIndex" : 1,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "matched" ],
        "source" : {
          "comments" : "",
          "groupId" : "a1418310-583e-37b6-ae93-fdaa527a089a",
          "id" : "4888aa82-c94f-3273-8e97-a9ad9f2d9ff8",
          "name" : "2 attr",
          "type" : "PROCESSOR"
        },
        "zIndex" : 0
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "a1418310-583e-37b6-ae93-fdaa527a089a",
          "id" : "c45df453-f04c-30f5-b501-3e94aefc5161",
          "name" : "output",
          "type" : "OUTPUT_PORT"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "a1418310-583e-37b6-ae93-fdaa527a089a",
        "identifier" : "8f27f629-30de-3450-a018-cfc8fc8c57c0",
        "labelIndex" : 1,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "success" ],
        "source" : {
          "comments" : "",
          "groupId" : "a1418310-583e-37b6-ae93-fdaa527a089a",
          "id" : "8bc971aa-c046-3556-8489-505afa9abd4b",
          "name" : "ReplaceText",
          "type" : "PROCESSOR"
        },
        "zIndex" : 0
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "a1418310-583e-37b6-ae93-fdaa527a089a",
          "id" : "ef63d2e5-8045-3854-8648-841bf55b88ef",
          "name" : "ReplaceText",
          "type" : "PROCESSOR"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "a1418310-583e-37b6-ae93-fdaa527a089a",
        "identifier" : "803b5dc3-679c-3f64-a7f7-a8c73f2b38aa",
        "labelIndex" : 1,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "success" ],
        "source" : {
          "comments" : "",
          "groupId" : "a1418310-583e-37b6-ae93-fdaa527a089a",
          "id" : "14434817-11b1-3bba-9beb-dabde9b9d3f7",
          "name" : "ReplaceText",
          "type" : "PROCESSOR"
        },
        "zIndex" : 0
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "a1418310-583e-37b6-ae93-fdaa527a089a",
          "id" : "ef264a06-9e1d-3358-911c-1ed35ae5016d",
          "name" : "ReplaceText",
          "type" : "PROCESSOR"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "a1418310-583e-37b6-ae93-fdaa527a089a",
        "identifier" : "a73cd0f5-2c04-34fc-bac6-12bc36044345",
        "labelIndex" : 1,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "success" ],
        "source" : {
          "comments" : "",
          "groupId" : "a1418310-583e-37b6-ae93-fdaa527a089a",
          "id" : "ee25d171-e349-3ef5-9e92-3f539f19b175",
          "name" : "ReplaceText",
          "type" : "PROCESSOR"
        },
        "zIndex" : 0
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "a1418310-583e-37b6-ae93-fdaa527a089a",
          "id" : "ef63d2e5-8045-3854-8648-841bf55b88ef",
          "name" : "ReplaceText",
          "type" : "PROCESSOR"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "a1418310-583e-37b6-ae93-fdaa527a089a",
        "identifier" : "059c5206-7610-3bd1-887c-77606a952dca",
        "labelIndex" : 1,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "success" ],
        "source" : {
          "comments" : "",
          "groupId" : "a1418310-583e-37b6-ae93-fdaa527a089a",
          "id" : "d2e8c6c5-5692-3a9a-a6a5-8bbd8602594e",
          "name" : "ReplaceText",
          "type" : "PROCESSOR"
        },
        "zIndex" : 0
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "a1418310-583e-37b6-ae93-fdaa527a089a",
          "id" : "3a28ea16-57d6-3a1c-8438-f51c564a3f53",
          "name" : "ReplaceText",
          "type" : "PROCESSOR"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "a1418310-583e-37b6-ae93-fdaa527a089a",
        "identifier" : "c07d596c-27b4-3d58-a2c2-56be4b5e7d24",
        "labelIndex" : 1,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "matched" ],
        "source" : {
          "comments" : "",
          "groupId" : "a1418310-583e-37b6-ae93-fdaa527a089a",
          "id" : "4888aa82-c94f-3273-8e97-a9ad9f2d9ff8",
          "name" : "2 attr",
          "type" : "PROCESSOR"
        },
        "zIndex" : 0
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "a1418310-583e-37b6-ae93-fdaa527a089a",
          "id" : "ef264a06-9e1d-3358-911c-1ed35ae5016d",
          "name" : "ReplaceText",
          "type" : "PROCESSOR"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "a1418310-583e-37b6-ae93-fdaa527a089a",
        "identifier" : "ee084d67-6668-3898-9502-c92e630a79c5",
        "labelIndex" : 1,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "matched" ],
        "source" : {
          "comments" : "",
          "groupId" : "a1418310-583e-37b6-ae93-fdaa527a089a",
          "id" : "4888aa82-c94f-3273-8e97-a9ad9f2d9ff8",
          "name" : "2 attr",
          "type" : "PROCESSOR"
        },
        "zIndex" : 0
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "a1418310-583e-37b6-ae93-fdaa527a089a",
          "id" : "ef63d2e5-8045-3854-8648-841bf55b88ef",
          "name" : "ReplaceText",
          "type" : "PROCESSOR"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "a1418310-583e-37b6-ae93-fdaa527a089a",
        "identifier" : "8c9704a6-797c-32f7-a47f-ae8470475b22",
        "labelIndex" : 1,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "success" ],
        "source" : {
          "comments" : "",
          "groupId" : "a1418310-583e-37b6-ae93-fdaa527a089a",
          "id" : "5b6ab33f-4292-3250-9893-8bcfe3b07f28",
          "name" : "ReplaceText",
          "type" : "PROCESSOR"
        },
        "zIndex" : 0
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "a1418310-583e-37b6-ae93-fdaa527a089a",
          "id" : "d2e8c6c5-5692-3a9a-a6a5-8bbd8602594e",
          "name" : "ReplaceText",
          "type" : "PROCESSOR"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "a1418310-583e-37b6-ae93-fdaa527a089a",
        "identifier" : "cefdc8e1-63fd-3791-976b-b8ed687de978",
        "labelIndex" : 1,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "success" ],
        "source" : {
          "comments" : "",
          "groupId" : "a1418310-583e-37b6-ae93-fdaa527a089a",
          "id" : "3a28ea16-57d6-3a1c-8438-f51c564a3f53",
          "name" : "ReplaceText",
          "type" : "PROCESSOR"
        },
        "zIndex" : 0
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "a1418310-583e-37b6-ae93-fdaa527a089a",
          "id" : "5b6ab33f-4292-3250-9893-8bcfe3b07f28",
          "name" : "ReplaceText",
          "type" : "PROCESSOR"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "a1418310-583e-37b6-ae93-fdaa527a089a",
        "identifier" : "bf9ff709-d4d2-3a5d-816e-ff5ca0edb5c6",
        "labelIndex" : 1,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "matched" ],
        "source" : {
          "comments" : "",
          "groupId" : "a1418310-583e-37b6-ae93-fdaa527a089a",
          "id" : "4888aa82-c94f-3273-8e97-a9ad9f2d9ff8",
          "name" : "2 attr",
          "type" : "PROCESSOR"
        },
        "zIndex" : 0
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "a1418310-583e-37b6-ae93-fdaa527a089a",
          "id" : "ee25d171-e349-3ef5-9e92-3f539f19b175",
          "name" : "ReplaceText",
          "type" : "PROCESSOR"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "a1418310-583e-37b6-ae93-fdaa527a089a",
        "identifier" : "beda212e-1c40-3249-937d-b45ed2e6b9c6",
        "labelIndex" : 1,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "matched" ],
        "source" : {
          "comments" : "",
          "groupId" : "a1418310-583e-37b6-ae93-fdaa527a089a",
          "id" : "4888aa82-c94f-3273-8e97-a9ad9f2d9ff8",
          "name" : "2 attr",
          "type" : "PROCESSOR"
        },
        "zIndex" : 0
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "a1418310-583e-37b6-ae93-fdaa527a089a",
          "id" : "14434817-11b1-3bba-9beb-dabde9b9d3f7",
          "name" : "ReplaceText",
          "type" : "PROCESSOR"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "a1418310-583e-37b6-ae93-fdaa527a089a",
        "identifier" : "3bf41d47-2b88-3727-960e-508eece7cf19",
        "labelIndex" : 1,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "success" ],
        "source" : {
          "comments" : "",
          "groupId" : "a1418310-583e-37b6-ae93-fdaa527a089a",
          "id" : "0efaefd3-b720-38d7-973c-555f4ffadaa9",
          "name" : "ReplaceText",
          "type" : "PROCESSOR"
        },
        "zIndex" : 0
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "a1418310-583e-37b6-ae93-fdaa527a089a",
          "id" : "ef63d2e5-8045-3854-8648-841bf55b88ef",
          "name" : "ReplaceText",
          "type" : "PROCESSOR"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "a1418310-583e-37b6-ae93-fdaa527a089a",
        "identifier" : "2e1309f8-39c0-319f-837f-151675c4cf11",
        "labelIndex" : 1,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "success" ],
        "source" : {
          "comments" : "",
          "groupId" : "a1418310-583e-37b6-ae93-fdaa527a089a",
          "id" : "ef264a06-9e1d-3358-911c-1ed35ae5016d",
          "name" : "ReplaceText",
          "type" : "PROCESSOR"
        },
        "zIndex" : 0
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "a1418310-583e-37b6-ae93-fdaa527a089a",
          "id" : "0efaefd3-b720-38d7-973c-555f4ffadaa9",
          "name" : "ReplaceText",
          "type" : "PROCESSOR"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "a1418310-583e-37b6-ae93-fdaa527a089a",
        "identifier" : "1667f704-d723-30ce-aacc-09b9144b60e4",
        "labelIndex" : 1,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "matched" ],
        "source" : {
          "comments" : "",
          "groupId" : "a1418310-583e-37b6-ae93-fdaa527a089a",
          "id" : "4888aa82-c94f-3273-8e97-a9ad9f2d9ff8",
          "name" : "2 attr",
          "type" : "PROCESSOR"
        },
        "zIndex" : 0
      } ],
      "controllerServices" : [ ],
      "defaultBackPressureDataSizeThreshold" : "1 GB",
      "defaultBackPressureObjectThreshold" : 10000,
      "defaultFlowFileExpiration" : "0 sec",
      "executionEngine" : "INHERITED",
      "flowFileConcurrency" : "UNBOUNDED",
      "flowFileOutboundPolicy" : "BATCH_OUTPUT",
      "funnels" : [ ],
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "a1418310-583e-37b6-ae93-fdaa527a089a",
      "inputPorts" : [ {
        "allowRemoteAccess" : false,
        "comments" : "",
        "componentType" : "INPUT_PORT",
        "concurrentlySchedulableTaskCount" : 1,
        "groupIdentifier" : "a1418310-583e-37b6-ae93-fdaa527a089a",
        "identifier" : "9edb0e23-f2f2-3be0-89c3-9f07786a8a04",
        "name" : "input",
        "portFunction" : "STANDARD",
        "position" : {
          "x" : 400.0,
          "y" : -80.0
        },
        "scheduledState" : "ENABLED",
        "type" : "INPUT_PORT"
      } ],
      "labels" : [ ],
      "maxConcurrentTasks" : 1,
      "name" : "update",
      "outputPorts" : [ {
        "allowRemoteAccess" : false,
        "comments" : "",
        "componentType" : "OUTPUT_PORT",
        "concurrentlySchedulableTaskCount" : 1,
        "groupIdentifier" : "a1418310-583e-37b6-ae93-fdaa527a089a",
        "identifier" : "c45df453-f04c-30f5-b501-3e94aefc5161",
        "name" : "output",
        "portFunction" : "STANDARD",
        "position" : {
          "x" : 2512.0,
          "y" : 632.0
        },
        "scheduledState" : "ENABLED",
        "type" : "OUTPUT_PORT"
      } ],
      "parameterContextName" : "ExecuteStatelessPG",
      "position" : {
        "x" : 1504.0,
        "y" : -312.0
      },
      "processGroups" : [ ],
      "processors" : [ {
        "autoTerminatedRelationships" : [ "failure" ],
        "backoffMechanism" : "PENALIZE_FLOWFILE",
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "nifi-standard-nar",
          "group" : "org.apache.nifi",
          "version" : "2.0.0-M3"
        },
        "comments" : "",
        "componentType" : "PROCESSOR",
        "concurrentlySchedulableTaskCount" : 3,
        "executionNode" : "ALL",
        "groupIdentifier" : "a1418310-583e-37b6-ae93-fdaa527a089a",
        "identifier" : "3a28ea16-57d6-3a1c-8438-f51c564a3f53",
        "maxBackoffPeriod" : "10 mins",
        "name" : "ReplaceText",
        "penaltyDuration" : "30 sec",
        "position" : {
          "x" : 536.0,
          "y" : 432.0
        },
        "properties" : {
          "Regular Expression" : "в",
          "Replacement Value" : "В",
          "Evaluation Mode" : "Line-by-Line",
          "Line-by-Line Evaluation Mode" : "All",
          "Character Set" : "UTF-8",
          "Maximum Buffer Size" : "1 MB",
          "Replacement Strategy" : "Regex Replace"
        },
        "propertyDescriptors" : {
          "Regular Expression" : {
            "displayName" : "Search Value",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Regular Expression",
            "sensitive" : false
          },
          "Replacement Value" : {
            "displayName" : "Replacement Value",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Replacement Value",
            "sensitive" : false
          },
          "Evaluation Mode" : {
            "displayName" : "Evaluation Mode",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Evaluation Mode",
            "sensitive" : false
          },
          "Text to Prepend" : {
            "displayName" : "Text to Prepend",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Text to Prepend",
            "sensitive" : false
          },
          "Line-by-Line Evaluation Mode" : {
            "displayName" : "Line-by-Line Evaluation Mode",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Line-by-Line Evaluation Mode",
            "sensitive" : false
          },
          "Character Set" : {
            "displayName" : "Character Set",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Character Set",
            "sensitive" : false
          },
          "Maximum Buffer Size" : {
            "displayName" : "Maximum Buffer Size",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Maximum Buffer Size",
            "sensitive" : false
          },
          "Replacement Strategy" : {
            "displayName" : "Replacement Strategy",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Replacement Strategy",
            "sensitive" : false
          },
          "Text to Append" : {
            "displayName" : "Text to Append",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Text to Append",
            "sensitive" : false
          }
        },
        "retriedRelationships" : [ ],
        "retryCount" : 10,
        "runDurationMillis" : 100,
        "scheduledState" : "ENABLED",
        "schedulingPeriod" : "0 sec",
        "schedulingStrategy" : "TIMER_DRIVEN",
        "style" : { },
        "type" : "org.apache.nifi.processors.standard.ReplaceText",
        "yieldDuration" : "1 sec"
      }, {
        "autoTerminatedRelationships" : [ "failure" ],
        "backoffMechanism" : "PENALIZE_FLOWFILE",
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "nifi-standard-nar",
          "group" : "org.apache.nifi",
          "version" : "2.0.0-M3"
        },
        "comments" : "",
        "componentType" : "PROCESSOR",
        "concurrentlySchedulableTaskCount" : 3,
        "executionNode" : "ALL",
        "groupIdentifier" : "a1418310-583e-37b6-ae93-fdaa527a089a",
        "identifier" : "14434817-11b1-3bba-9beb-dabde9b9d3f7",
        "maxBackoffPeriod" : "10 mins",
        "name" : "ReplaceText",
        "penaltyDuration" : "30 sec",
        "position" : {
          "x" : 1568.0,
          "y" : 248.0
        },
        "properties" : {
          "Regular Expression" : "(?s)(^.*$)",
          "Replacement Value" : "${article_1}",
          "Evaluation Mode" : "Line-by-Line",
          "Line-by-Line Evaluation Mode" : "All",
          "Character Set" : "UTF-8",
          "Maximum Buffer Size" : "1 MB",
          "Replacement Strategy" : "Always Replace"
        },
        "propertyDescriptors" : {
          "Regular Expression" : {
            "displayName" : "Search Value",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Regular Expression",
            "sensitive" : false
          },
          "Replacement Value" : {
            "displayName" : "Replacement Value",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Replacement Value",
            "sensitive" : false
          },
          "Evaluation Mode" : {
            "displayName" : "Evaluation Mode",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Evaluation Mode",
            "sensitive" : false
          },
          "Text to Prepend" : {
            "displayName" : "Text to Prepend",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Text to Prepend",
            "sensitive" : false
          },
          "Line-by-Line Evaluation Mode" : {
            "displayName" : "Line-by-Line Evaluation Mode",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Line-by-Line Evaluation Mode",
            "sensitive" : false
          },
          "Character Set" : {
            "displayName" : "Character Set",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Character Set",
            "sensitive" : false
          },
          "Maximum Buffer Size" : {
            "displayName" : "Maximum Buffer Size",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Maximum Buffer Size",
            "sensitive" : false
          },
          "Replacement Strategy" : {
            "displayName" : "Replacement Strategy",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Replacement Strategy",
            "sensitive" : false
          },
          "Text to Append" : {
            "displayName" : "Text to Append",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Text to Append",
            "sensitive" : false
          }
        },
        "retriedRelationships" : [ ],
        "retryCount" : 10,
        "runDurationMillis" : 100,
        "scheduledState" : "ENABLED",
        "schedulingPeriod" : "0 sec",
        "schedulingStrategy" : "TIMER_DRIVEN",
        "style" : { },
        "type" : "org.apache.nifi.processors.standard.ReplaceText",
        "yieldDuration" : "1 sec"
      }, {
        "autoTerminatedRelationships" : [ "failure" ],
        "backoffMechanism" : "PENALIZE_FLOWFILE",
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "nifi-standard-nar",
          "group" : "org.apache.nifi",
          "version" : "2.0.0-M3"
        },
        "comments" : "",
        "componentType" : "PROCESSOR",
        "concurrentlySchedulableTaskCount" : 3,
        "executionNode" : "ALL",
        "groupIdentifier" : "a1418310-583e-37b6-ae93-fdaa527a089a",
        "identifier" : "d2e8c6c5-5692-3a9a-a6a5-8bbd8602594e",
        "maxBackoffPeriod" : "10 mins",
        "name" : "ReplaceText",
        "penaltyDuration" : "30 sec",
        "position" : {
          "x" : 1568.0,
          "y" : 456.0
        },
        "properties" : {
          "Regular Expression" : "г",
          "Replacement Value" : "Г",
          "Evaluation Mode" : "Line-by-Line",
          "Line-by-Line Evaluation Mode" : "All",
          "Character Set" : "UTF-8",
          "Maximum Buffer Size" : "1 MB",
          "Replacement Strategy" : "Regex Replace"
        },
        "propertyDescriptors" : {
          "Regular Expression" : {
            "displayName" : "Search Value",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Regular Expression",
            "sensitive" : false
          },
          "Replacement Value" : {
            "displayName" : "Replacement Value",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Replacement Value",
            "sensitive" : false
          },
          "Evaluation Mode" : {
            "displayName" : "Evaluation Mode",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Evaluation Mode",
            "sensitive" : false
          },
          "Text to Prepend" : {
            "displayName" : "Text to Prepend",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Text to Prepend",
            "sensitive" : false
          },
          "Line-by-Line Evaluation Mode" : {
            "displayName" : "Line-by-Line Evaluation Mode",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Line-by-Line Evaluation Mode",
            "sensitive" : false
          },
          "Character Set" : {
            "displayName" : "Character Set",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Character Set",
            "sensitive" : false
          },
          "Maximum Buffer Size" : {
            "displayName" : "Maximum Buffer Size",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Maximum Buffer Size",
            "sensitive" : false
          },
          "Replacement Strategy" : {
            "displayName" : "Replacement Strategy",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Replacement Strategy",
            "sensitive" : false
          },
          "Text to Append" : {
            "displayName" : "Text to Append",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Text to Append",
            "sensitive" : false
          }
        },
        "retriedRelationships" : [ ],
        "retryCount" : 10,
        "runDurationMillis" : 100,
        "scheduledState" : "ENABLED",
        "schedulingPeriod" : "0 sec",
        "schedulingStrategy" : "TIMER_DRIVEN",
        "style" : { },
        "type" : "org.apache.nifi.processors.standard.ReplaceText",
        "yieldDuration" : "1 sec"
      }, {
        "autoTerminatedRelationships" : [ "failure" ],
        "backoffMechanism" : "PENALIZE_FLOWFILE",
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "nifi-standard-nar",
          "group" : "org.apache.nifi",
          "version" : "2.0.0-M3"
        },
        "comments" : "",
        "componentType" : "PROCESSOR",
        "concurrentlySchedulableTaskCount" : 3,
        "executionNode" : "ALL",
        "groupIdentifier" : "a1418310-583e-37b6-ae93-fdaa527a089a",
        "identifier" : "ee25d171-e349-3ef5-9e92-3f539f19b175",
        "maxBackoffPeriod" : "10 mins",
        "name" : "ReplaceText",
        "penaltyDuration" : "30 sec",
        "position" : {
          "x" : 336.0,
          "y" : 64.0
        },
        "properties" : {
          "Regular Expression" : "а",
          "Replacement Value" : "А",
          "Evaluation Mode" : "Line-by-Line",
          "Line-by-Line Evaluation Mode" : "All",
          "Character Set" : "UTF-8",
          "Maximum Buffer Size" : "1 MB",
          "Replacement Strategy" : "Regex Replace"
        },
        "propertyDescriptors" : {
          "Regular Expression" : {
            "displayName" : "Search Value",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Regular Expression",
            "sensitive" : false
          },
          "Replacement Value" : {
            "displayName" : "Replacement Value",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Replacement Value",
            "sensitive" : false
          },
          "Evaluation Mode" : {
            "displayName" : "Evaluation Mode",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Evaluation Mode",
            "sensitive" : false
          },
          "Text to Prepend" : {
            "displayName" : "Text to Prepend",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Text to Prepend",
            "sensitive" : false
          },
          "Line-by-Line Evaluation Mode" : {
            "displayName" : "Line-by-Line Evaluation Mode",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Line-by-Line Evaluation Mode",
            "sensitive" : false
          },
          "Character Set" : {
            "displayName" : "Character Set",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Character Set",
            "sensitive" : false
          },
          "Maximum Buffer Size" : {
            "displayName" : "Maximum Buffer Size",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Maximum Buffer Size",
            "sensitive" : false
          },
          "Replacement Strategy" : {
            "displayName" : "Replacement Strategy",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Replacement Strategy",
            "sensitive" : false
          },
          "Text to Append" : {
            "displayName" : "Text to Append",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Text to Append",
            "sensitive" : false
          }
        },
        "retriedRelationships" : [ ],
        "retryCount" : 10,
        "runDurationMillis" : 100,
        "scheduledState" : "ENABLED",
        "schedulingPeriod" : "0 sec",
        "schedulingStrategy" : "TIMER_DRIVEN",
        "style" : { },
        "type" : "org.apache.nifi.processors.standard.ReplaceText",
        "yieldDuration" : "1 sec"
      }, {
        "autoTerminatedRelationships" : [ "failure", "unmatched" ],
        "backoffMechanism" : "PENALIZE_FLOWFILE",
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "nifi-standard-nar",
          "group" : "org.apache.nifi",
          "version" : "2.0.0-M3"
        },
        "comments" : "",
        "componentType" : "PROCESSOR",
        "concurrentlySchedulableTaskCount" : 3,
        "executionNode" : "ALL",
        "groupIdentifier" : "a1418310-583e-37b6-ae93-fdaa527a089a",
        "identifier" : "4888aa82-c94f-3273-8e97-a9ad9f2d9ff8",
        "maxBackoffPeriod" : "10 mins",
        "name" : "2 attr",
        "penaltyDuration" : "30 sec",
        "position" : {
          "x" : 944.0,
          "y" : -144.0
        },
        "properties" : {
          "article_2" : "$.article_2",
          "Destination" : "flowfile-attribute",
          "article_1" : "$.article_1",
          "article_4" : "$.article_4",
          "article_3" : "$.article_3",
          "Max String Length" : "20 MB",
          "Return Type" : "json",
          "Null Value Representation" : "empty string",
          "articles_id" : "$.articles_id",
          "Path Not Found Behavior" : "ignore"
        },
        "propertyDescriptors" : {
          "article_2" : {
            "displayName" : "article_2",
            "dynamic" : true,
            "identifiesControllerService" : false,
            "name" : "article_2",
            "sensitive" : false
          },
          "Destination" : {
            "displayName" : "Destination",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Destination",
            "sensitive" : false
          },
          "article_1" : {
            "displayName" : "article_1",
            "dynamic" : true,
            "identifiesControllerService" : false,
            "name" : "article_1",
            "sensitive" : false
          },
          "article_4" : {
            "displayName" : "article_4",
            "dynamic" : true,
            "identifiesControllerService" : false,
            "name" : "article_4",
            "sensitive" : false
          },
          "article_3" : {
            "displayName" : "article_3",
            "dynamic" : true,
            "identifiesControllerService" : false,
            "name" : "article_3",
            "sensitive" : false
          },
          "Max String Length" : {
            "displayName" : "Max String Length",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Max String Length",
            "sensitive" : false
          },
          "Return Type" : {
            "displayName" : "Return Type",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Return Type",
            "sensitive" : false
          },
          "Null Value Representation" : {
            "displayName" : "Null Value Representation",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Null Value Representation",
            "sensitive" : false
          },
          "articles_id" : {
            "displayName" : "articles_id",
            "dynamic" : true,
            "identifiesControllerService" : false,
            "name" : "articles_id",
            "sensitive" : false
          },
          "Path Not Found Behavior" : {
            "displayName" : "Path Not Found Behavior",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Path Not Found Behavior",
            "sensitive" : false
          }
        },
        "retriedRelationships" : [ ],
        "retryCount" : 10,
        "runDurationMillis" : 100,
        "scheduledState" : "ENABLED",
        "schedulingPeriod" : "0 sec",
        "schedulingStrategy" : "TIMER_DRIVEN",
        "style" : { },
        "type" : "org.apache.nifi.processors.standard.EvaluateJsonPath",
        "yieldDuration" : "1 sec"
      }, {
        "autoTerminatedRelationships" : [ "failure" ],
        "backoffMechanism" : "PENALIZE_FLOWFILE",
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "nifi-standard-nar",
          "group" : "org.apache.nifi",
          "version" : "2.0.0-M3"
        },
        "comments" : "",
        "componentType" : "PROCESSOR",
        "concurrentlySchedulableTaskCount" : 3,
        "executionNode" : "ALL",
        "groupIdentifier" : "a1418310-583e-37b6-ae93-fdaa527a089a",
        "identifier" : "8bc971aa-c046-3556-8489-505afa9abd4b",
        "maxBackoffPeriod" : "10 mins",
        "name" : "ReplaceText",
        "penaltyDuration" : "30 sec",
        "position" : {
          "x" : 2456.0,
          "y" : 424.0
        },
        "properties" : {
          "Regular Expression" : "(.*)",
          "Replacement Value" : "{\"articles_id\":${articles_id}, \"time\":${time}}",
          "Evaluation Mode" : "Line-by-Line",
          "Line-by-Line Evaluation Mode" : "All",
          "Character Set" : "UTF-8",
          "Maximum Buffer Size" : "1 MB",
          "Replacement Strategy" : "Always Replace"
        },
        "propertyDescriptors" : {
          "Regular Expression" : {
            "displayName" : "Search Value",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Regular Expression",
            "sensitive" : false
          },
          "Replacement Value" : {
            "displayName" : "Replacement Value",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Replacement Value",
            "sensitive" : false
          },
          "Evaluation Mode" : {
            "displayName" : "Evaluation Mode",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Evaluation Mode",
            "sensitive" : false
          },
          "Text to Prepend" : {
            "displayName" : "Text to Prepend",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Text to Prepend",
            "sensitive" : false
          },
          "Line-by-Line Evaluation Mode" : {
            "displayName" : "Line-by-Line Evaluation Mode",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Line-by-Line Evaluation Mode",
            "sensitive" : false
          },
          "Character Set" : {
            "displayName" : "Character Set",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Character Set",
            "sensitive" : false
          },
          "Maximum Buffer Size" : {
            "displayName" : "Maximum Buffer Size",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Maximum Buffer Size",
            "sensitive" : false
          },
          "Replacement Strategy" : {
            "displayName" : "Replacement Strategy",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Replacement Strategy",
            "sensitive" : false
          },
          "Text to Append" : {
            "displayName" : "Text to Append",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Text to Append",
            "sensitive" : false
          }
        },
        "retriedRelationships" : [ ],
        "retryCount" : 10,
        "runDurationMillis" : 100,
        "scheduledState" : "ENABLED",
        "schedulingPeriod" : "0 sec",
        "schedulingStrategy" : "TIMER_DRIVEN",
        "style" : { },
        "type" : "org.apache.nifi.processors.standard.ReplaceText",
        "yieldDuration" : "1 sec"
      }, {
        "autoTerminatedRelationships" : [ ],
        "backoffMechanism" : "PENALIZE_FLOWFILE",
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "nifi-update-attribute-nar",
          "group" : "org.apache.nifi",
          "version" : "2.0.0-M3"
        },
        "comments" : "",
        "componentType" : "PROCESSOR",
        "concurrentlySchedulableTaskCount" : 3,
        "executionNode" : "ALL",
        "groupIdentifier" : "a1418310-583e-37b6-ae93-fdaa527a089a",
        "identifier" : "414b1bd0-bd7c-3f8f-a2b4-131314722623",
        "maxBackoffPeriod" : "10 mins",
        "name" : "UpdateAttribute",
        "penaltyDuration" : "30 sec",
        "position" : {
          "x" : 2448.0,
          "y" : 224.0
        },
        "properties" : {
          "Store State" : "Do not store state",
          "canonical-value-lookup-cache-size" : "100",
          "time" : "${now():toNumber():minus(${entryDate:toNumber()})}"
        },
        "propertyDescriptors" : {
          "Delete Attributes Expression" : {
            "displayName" : "Delete Attributes Expression",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Delete Attributes Expression",
            "sensitive" : false
          },
          "Store State" : {
            "displayName" : "Store State",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Store State",
            "sensitive" : false
          },
          "canonical-value-lookup-cache-size" : {
            "displayName" : "Cache Value Lookup Cache Size",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "canonical-value-lookup-cache-size",
            "sensitive" : false
          },
          "time" : {
            "displayName" : "time",
            "dynamic" : true,
            "identifiesControllerService" : false,
            "name" : "time",
            "sensitive" : false
          },
          "Stateful Variables Initial Value" : {
            "displayName" : "Stateful Variables Initial Value",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Stateful Variables Initial Value",
            "sensitive" : false
          }
        },
        "retriedRelationships" : [ ],
        "retryCount" : 10,
        "runDurationMillis" : 100,
        "scheduledState" : "ENABLED",
        "schedulingPeriod" : "0 sec",
        "schedulingStrategy" : "TIMER_DRIVEN",
        "style" : { },
        "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
        "yieldDuration" : "1 sec"
      }, {
        "autoTerminatedRelationships" : [ "failure" ],
        "backoffMechanism" : "PENALIZE_FLOWFILE",
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "nifi-standard-nar",
          "group" : "org.apache.nifi",
          "version" : "2.0.0-M3"
        },
        "comments" : "",
        "componentType" : "PROCESSOR",
        "concurrentlySchedulableTaskCount" : 3,
        "executionNode" : "ALL",
        "groupIdentifier" : "a1418310-583e-37b6-ae93-fdaa527a089a",
        "identifier" : "ef63d2e5-8045-3854-8648-841bf55b88ef",
        "maxBackoffPeriod" : "10 mins",
        "name" : "ReplaceText",
        "penaltyDuration" : "30 sec",
        "position" : {
          "x" : 2448.0,
          "y" : 32.0
        },
        "properties" : {
          "Regular Expression" : "(?s)(^.*$)",
          "Replacement Value" : "${article_4}",
          "Evaluation Mode" : "Line-by-Line",
          "Line-by-Line Evaluation Mode" : "All",
          "Character Set" : "UTF-8",
          "Maximum Buffer Size" : "1 MB",
          "Replacement Strategy" : "Always Replace"
        },
        "propertyDescriptors" : {
          "Regular Expression" : {
            "displayName" : "Search Value",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Regular Expression",
            "sensitive" : false
          },
          "Replacement Value" : {
            "displayName" : "Replacement Value",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Replacement Value",
            "sensitive" : false
          },
          "Evaluation Mode" : {
            "displayName" : "Evaluation Mode",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Evaluation Mode",
            "sensitive" : false
          },
          "Text to Prepend" : {
            "displayName" : "Text to Prepend",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Text to Prepend",
            "sensitive" : false
          },
          "Line-by-Line Evaluation Mode" : {
            "displayName" : "Line-by-Line Evaluation Mode",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Line-by-Line Evaluation Mode",
            "sensitive" : false
          },
          "Character Set" : {
            "displayName" : "Character Set",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Character Set",
            "sensitive" : false
          },
          "Maximum Buffer Size" : {
            "displayName" : "Maximum Buffer Size",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Maximum Buffer Size",
            "sensitive" : false
          },
          "Replacement Strategy" : {
            "displayName" : "Replacement Strategy",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Replacement Strategy",
            "sensitive" : false
          },
          "Text to Append" : {
            "displayName" : "Text to Append",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Text to Append",
            "sensitive" : false
          }
        },
        "retriedRelationships" : [ ],
        "retryCount" : 10,
        "runDurationMillis" : 100,
        "scheduledState" : "ENABLED",
        "schedulingPeriod" : "0 sec",
        "schedulingStrategy" : "TIMER_DRIVEN",
        "style" : { },
        "type" : "org.apache.nifi.processors.standard.ReplaceText",
        "yieldDuration" : "1 sec"
      }, {
        "autoTerminatedRelationships" : [ "failure" ],
        "backoffMechanism" : "PENALIZE_FLOWFILE",
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "nifi-standard-nar",
          "group" : "org.apache.nifi",
          "version" : "2.0.0-M3"
        },
        "comments" : "",
        "componentType" : "PROCESSOR",
        "concurrentlySchedulableTaskCount" : 3,
        "executionNode" : "ALL",
        "groupIdentifier" : "a1418310-583e-37b6-ae93-fdaa527a089a",
        "identifier" : "5b6ab33f-4292-3250-9893-8bcfe3b07f28",
        "maxBackoffPeriod" : "10 mins",
        "name" : "ReplaceText",
        "penaltyDuration" : "30 sec",
        "position" : {
          "x" : 1568.0,
          "y" : -152.0
        },
        "properties" : {
          "Regular Expression" : "(?s)(^.*$)",
          "Replacement Value" : "${article_3}",
          "Evaluation Mode" : "Line-by-Line",
          "Line-by-Line Evaluation Mode" : "All",
          "Character Set" : "UTF-8",
          "Maximum Buffer Size" : "1 MB",
          "Replacement Strategy" : "Always Replace"
        },
        "propertyDescriptors" : {
          "Regular Expression" : {
            "displayName" : "Search Value",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Regular Expression",
            "sensitive" : false
          },
          "Replacement Value" : {
            "displayName" : "Replacement Value",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Replacement Value",
            "sensitive" : false
          },
          "Evaluation Mode" : {
            "displayName" : "Evaluation Mode",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Evaluation Mode",
            "sensitive" : false
          },
          "Text to Prepend" : {
            "displayName" : "Text to Prepend",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Text to Prepend",
            "sensitive" : false
          },
          "Line-by-Line Evaluation Mode" : {
            "displayName" : "Line-by-Line Evaluation Mode",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Line-by-Line Evaluation Mode",
            "sensitive" : false
          },
          "Character Set" : {
            "displayName" : "Character Set",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Character Set",
            "sensitive" : false
          },
          "Maximum Buffer Size" : {
            "displayName" : "Maximum Buffer Size",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Maximum Buffer Size",
            "sensitive" : false
          },
          "Replacement Strategy" : {
            "displayName" : "Replacement Strategy",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Replacement Strategy",
            "sensitive" : false
          },
          "Text to Append" : {
            "displayName" : "Text to Append",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Text to Append",
            "sensitive" : false
          }
        },
        "retriedRelationships" : [ ],
        "retryCount" : 10,
        "runDurationMillis" : 100,
        "scheduledState" : "ENABLED",
        "schedulingPeriod" : "0 sec",
        "schedulingStrategy" : "TIMER_DRIVEN",
        "style" : { },
        "type" : "org.apache.nifi.processors.standard.ReplaceText",
        "yieldDuration" : "1 sec"
      }, {
        "autoTerminatedRelationships" : [ "failure" ],
        "backoffMechanism" : "PENALIZE_FLOWFILE",
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "nifi-standard-nar",
          "group" : "org.apache.nifi",
          "version" : "2.0.0-M3"
        },
        "comments" : "",
        "componentType" : "PROCESSOR",
        "concurrentlySchedulableTaskCount" : 3,
        "executionNode" : "ALL",
        "groupIdentifier" : "a1418310-583e-37b6-ae93-fdaa527a089a",
        "identifier" : "0efaefd3-b720-38d7-973c-555f4ffadaa9",
        "maxBackoffPeriod" : "10 mins",
        "name" : "ReplaceText",
        "penaltyDuration" : "30 sec",
        "position" : {
          "x" : 424.0,
          "y" : 240.0
        },
        "properties" : {
          "Regular Expression" : "б",
          "Replacement Value" : "Б",
          "Evaluation Mode" : "Line-by-Line",
          "Line-by-Line Evaluation Mode" : "All",
          "Character Set" : "UTF-8",
          "Maximum Buffer Size" : "1 MB",
          "Replacement Strategy" : "Regex Replace"
        },
        "propertyDescriptors" : {
          "Regular Expression" : {
            "displayName" : "Search Value",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Regular Expression",
            "sensitive" : false
          },
          "Replacement Value" : {
            "displayName" : "Replacement Value",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Replacement Value",
            "sensitive" : false
          },
          "Evaluation Mode" : {
            "displayName" : "Evaluation Mode",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Evaluation Mode",
            "sensitive" : false
          },
          "Text to Prepend" : {
            "displayName" : "Text to Prepend",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Text to Prepend",
            "sensitive" : false
          },
          "Line-by-Line Evaluation Mode" : {
            "displayName" : "Line-by-Line Evaluation Mode",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Line-by-Line Evaluation Mode",
            "sensitive" : false
          },
          "Character Set" : {
            "displayName" : "Character Set",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Character Set",
            "sensitive" : false
          },
          "Maximum Buffer Size" : {
            "displayName" : "Maximum Buffer Size",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Maximum Buffer Size",
            "sensitive" : false
          },
          "Replacement Strategy" : {
            "displayName" : "Replacement Strategy",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Replacement Strategy",
            "sensitive" : false
          },
          "Text to Append" : {
            "displayName" : "Text to Append",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Text to Append",
            "sensitive" : false
          }
        },
        "retriedRelationships" : [ ],
        "retryCount" : 10,
        "runDurationMillis" : 100,
        "scheduledState" : "ENABLED",
        "schedulingPeriod" : "0 sec",
        "schedulingStrategy" : "TIMER_DRIVEN",
        "style" : { },
        "type" : "org.apache.nifi.processors.standard.ReplaceText",
        "yieldDuration" : "1 sec"
      }, {
        "autoTerminatedRelationships" : [ "failure" ],
        "backoffMechanism" : "PENALIZE_FLOWFILE",
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "nifi-standard-nar",
          "group" : "org.apache.nifi",
          "version" : "2.0.0-M3"
        },
        "comments" : "",
        "componentType" : "PROCESSOR",
        "concurrentlySchedulableTaskCount" : 3,
        "executionNode" : "ALL",
        "groupIdentifier" : "a1418310-583e-37b6-ae93-fdaa527a089a",
        "identifier" : "ef264a06-9e1d-3358-911c-1ed35ae5016d",
        "maxBackoffPeriod" : "10 mins",
        "name" : "ReplaceText",
        "penaltyDuration" : "30 sec",
        "position" : {
          "x" : 1568.0,
          "y" : 56.0
        },
        "properties" : {
          "Regular Expression" : "(?s)(^.*$)",
          "Replacement Value" : "${article_2}",
          "Evaluation Mode" : "Line-by-Line",
          "Line-by-Line Evaluation Mode" : "All",
          "Character Set" : "UTF-8",
          "Maximum Buffer Size" : "1 MB",
          "Replacement Strategy" : "Always Replace"
        },
        "propertyDescriptors" : {
          "Regular Expression" : {
            "displayName" : "Search Value",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Regular Expression",
            "sensitive" : false
          },
          "Replacement Value" : {
            "displayName" : "Replacement Value",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Replacement Value",
            "sensitive" : false
          },
          "Evaluation Mode" : {
            "displayName" : "Evaluation Mode",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Evaluation Mode",
            "sensitive" : false
          },
          "Text to Prepend" : {
            "displayName" : "Text to Prepend",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Text to Prepend",
            "sensitive" : false
          },
          "Line-by-Line Evaluation Mode" : {
            "displayName" : "Line-by-Line Evaluation Mode",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Line-by-Line Evaluation Mode",
            "sensitive" : false
          },
          "Character Set" : {
            "displayName" : "Character Set",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Character Set",
            "sensitive" : false
          },
          "Maximum Buffer Size" : {
            "displayName" : "Maximum Buffer Size",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Maximum Buffer Size",
            "sensitive" : false
          },
          "Replacement Strategy" : {
            "displayName" : "Replacement Strategy",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Replacement Strategy",
            "sensitive" : false
          },
          "Text to Append" : {
            "displayName" : "Text to Append",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Text to Append",
            "sensitive" : false
          }
        },
        "retriedRelationships" : [ ],
        "retryCount" : 10,
        "runDurationMillis" : 100,
        "scheduledState" : "ENABLED",
        "schedulingPeriod" : "0 sec",
        "schedulingStrategy" : "TIMER_DRIVEN",
        "style" : { },
        "type" : "org.apache.nifi.processors.standard.ReplaceText",
        "yieldDuration" : "1 sec"
      } ],
      "remoteProcessGroups" : [ ],
      "scheduledState" : "ENABLED",
      "statelessFlowTimeout" : "1 min"
    }, {
      "comments" : "",
      "componentType" : "PROCESS_GROUP",
      "connections" : [ {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ {
          "x" : 936.0,
          "y" : 128.0
        } ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "27de6ae8-e66b-3f2a-bfb5-d4aa7e9d007f",
          "id" : "9420209d-10d2-3a3a-9f07-1088061d7d5d",
          "name" : "UpdateAttribute",
          "type" : "PROCESSOR"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "27de6ae8-e66b-3f2a-bfb5-d4aa7e9d007f",
        "identifier" : "60fb7dd8-e6dd-3432-8f21-1c73ab26a522",
        "labelIndex" : 0,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "Failure" ],
        "source" : {
          "comments" : "",
          "groupId" : "27de6ae8-e66b-3f2a-bfb5-d4aa7e9d007f",
          "id" : "2a360c94-7291-3699-9123-4485a155b63e",
          "name" : "InvokeHTTP",
          "type" : "PROCESSOR"
        },
        "zIndex" : 0
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "27de6ae8-e66b-3f2a-bfb5-d4aa7e9d007f",
          "id" : "2a360c94-7291-3699-9123-4485a155b63e",
          "name" : "InvokeHTTP",
          "type" : "PROCESSOR"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "27de6ae8-e66b-3f2a-bfb5-d4aa7e9d007f",
        "identifier" : "d576c01f-dfdd-3870-a802-05a0f4bd2d50",
        "labelIndex" : 1,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "success" ],
        "source" : {
          "comments" : "",
          "groupId" : "27de6ae8-e66b-3f2a-bfb5-d4aa7e9d007f",
          "id" : "2ae79bd2-f053-3b75-9578-dc2cb9ad4e13",
          "name" : "UpdateAttribute",
          "type" : "PROCESSOR"
        },
        "zIndex" : 0
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "27de6ae8-e66b-3f2a-bfb5-d4aa7e9d007f",
          "id" : "2a360c94-7291-3699-9123-4485a155b63e",
          "name" : "InvokeHTTP",
          "type" : "PROCESSOR"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "27de6ae8-e66b-3f2a-bfb5-d4aa7e9d007f",
        "identifier" : "c32cb97b-5d54-34e4-8ffe-4f7126e22f79",
        "labelIndex" : 0,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "success" ],
        "source" : {
          "comments" : "",
          "groupId" : "27de6ae8-e66b-3f2a-bfb5-d4aa7e9d007f",
          "id" : "9420209d-10d2-3a3a-9f07-1088061d7d5d",
          "name" : "UpdateAttribute",
          "type" : "PROCESSOR"
        },
        "zIndex" : 0
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "27de6ae8-e66b-3f2a-bfb5-d4aa7e9d007f",
          "id" : "2ae79bd2-f053-3b75-9578-dc2cb9ad4e13",
          "name" : "UpdateAttribute",
          "type" : "PROCESSOR"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "27de6ae8-e66b-3f2a-bfb5-d4aa7e9d007f",
        "identifier" : "c707118f-2d0f-3dcc-a0ad-e2198a6835b6",
        "labelIndex" : 1,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "" ],
        "source" : {
          "groupId" : "27de6ae8-e66b-3f2a-bfb5-d4aa7e9d007f",
          "id" : "e2933c5b-86cb-3395-ad89-996f5c7907a1",
          "name" : "i",
          "type" : "INPUT_PORT"
        },
        "zIndex" : 0
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "27de6ae8-e66b-3f2a-bfb5-d4aa7e9d007f",
          "id" : "08f2e120-6368-339d-8dcd-bd7315ceaa24",
          "name" : "ReplaceText",
          "type" : "PROCESSOR"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "27de6ae8-e66b-3f2a-bfb5-d4aa7e9d007f",
        "identifier" : "59ebd6d1-9d4d-3dda-90c7-6380454d0e68",
        "labelIndex" : 1,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "Response" ],
        "source" : {
          "comments" : "",
          "groupId" : "27de6ae8-e66b-3f2a-bfb5-d4aa7e9d007f",
          "id" : "2a360c94-7291-3699-9123-4485a155b63e",
          "name" : "InvokeHTTP",
          "type" : "PROCESSOR"
        },
        "zIndex" : 0
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "groupId" : "27de6ae8-e66b-3f2a-bfb5-d4aa7e9d007f",
          "id" : "5b60d542-5ea2-32b1-a9c1-8cf05f632ab4",
          "name" : "o",
          "type" : "OUTPUT_PORT"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "27de6ae8-e66b-3f2a-bfb5-d4aa7e9d007f",
        "identifier" : "47a62e8b-fab4-352e-9522-0c78a5b41e09",
        "labelIndex" : 1,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "success" ],
        "source" : {
          "comments" : "",
          "groupId" : "27de6ae8-e66b-3f2a-bfb5-d4aa7e9d007f",
          "id" : "08f2e120-6368-339d-8dcd-bd7315ceaa24",
          "name" : "ReplaceText",
          "type" : "PROCESSOR"
        },
        "zIndex" : 0
      } ],
      "controllerServices" : [ ],
      "defaultBackPressureDataSizeThreshold" : "1 GB",
      "defaultBackPressureObjectThreshold" : 10000,
      "defaultFlowFileExpiration" : "0 sec",
      "executionEngine" : "INHERITED",
      "flowFileConcurrency" : "UNBOUNDED",
      "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
      "funnels" : [ ],
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "27de6ae8-e66b-3f2a-bfb5-d4aa7e9d007f",
      "inputPorts" : [ {
        "allowRemoteAccess" : false,
        "componentType" : "INPUT_PORT",
        "concurrentlySchedulableTaskCount" : 1,
        "groupIdentifier" : "27de6ae8-e66b-3f2a-bfb5-d4aa7e9d007f",
        "identifier" : "e2933c5b-86cb-3395-ad89-996f5c7907a1",
        "name" : "i",
        "portFunction" : "STANDARD",
        "position" : {
          "x" : 424.0,
          "y" : -168.0
        },
        "scheduledState" : "ENABLED",
        "type" : "INPUT_PORT"
      } ],
      "labels" : [ ],
      "logFileSuffix" : "",
      "maxConcurrentTasks" : 1,
      "name" : "http",
      "outputPorts" : [ {
        "allowRemoteAccess" : false,
        "componentType" : "OUTPUT_PORT",
        "concurrentlySchedulableTaskCount" : 1,
        "groupIdentifier" : "27de6ae8-e66b-3f2a-bfb5-d4aa7e9d007f",
        "identifier" : "5b60d542-5ea2-32b1-a9c1-8cf05f632ab4",
        "name" : "o",
        "portFunction" : "STANDARD",
        "position" : {
          "x" : 776.0,
          "y" : 392.0
        },
        "scheduledState" : "ENABLED",
        "type" : "OUTPUT_PORT"
      } ],
      "parameterContextName" : "ExecuteStatelessPG",
      "position" : {
        "x" : 1488.0,
        "y" : -24.0
      },
      "processGroups" : [ ],
      "processors" : [ {
        "autoTerminatedRelationships" : [ "failure" ],
        "backoffMechanism" : "PENALIZE_FLOWFILE",
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "nifi-standard-nar",
          "group" : "org.apache.nifi",
          "version" : "2.0.0-M3"
        },
        "comments" : "",
        "componentType" : "PROCESSOR",
        "concurrentlySchedulableTaskCount" : 3,
        "executionNode" : "ALL",
        "groupIdentifier" : "27de6ae8-e66b-3f2a-bfb5-d4aa7e9d007f",
        "identifier" : "08f2e120-6368-339d-8dcd-bd7315ceaa24",
        "maxBackoffPeriod" : "10 mins",
        "name" : "ReplaceText",
        "penaltyDuration" : "30 sec",
        "position" : {
          "x" : 368.0,
          "y" : 560.0
        },
        "properties" : {
          "Regular Expression" : "(.*)",
          "Replacement Value" : "{\"articles_id\":${articles_id}, \"time\":${time}, \"invokehttp.status.code\":${invokehttp.status.code}}",
          "Evaluation Mode" : "Line-by-Line",
          "Line-by-Line Evaluation Mode" : "All",
          "Character Set" : "UTF-8",
          "Maximum Buffer Size" : "1 MB",
          "Replacement Strategy" : "Always Replace"
        },
        "propertyDescriptors" : {
          "Regular Expression" : {
            "displayName" : "Search Value",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Regular Expression",
            "sensitive" : false
          },
          "Replacement Value" : {
            "displayName" : "Replacement Value",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Replacement Value",
            "sensitive" : false
          },
          "Evaluation Mode" : {
            "displayName" : "Evaluation Mode",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Evaluation Mode",
            "sensitive" : false
          },
          "Text to Prepend" : {
            "displayName" : "Text to Prepend",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Text to Prepend",
            "sensitive" : false
          },
          "Line-by-Line Evaluation Mode" : {
            "displayName" : "Line-by-Line Evaluation Mode",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Line-by-Line Evaluation Mode",
            "sensitive" : false
          },
          "Character Set" : {
            "displayName" : "Character Set",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Character Set",
            "sensitive" : false
          },
          "Maximum Buffer Size" : {
            "displayName" : "Maximum Buffer Size",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Maximum Buffer Size",
            "sensitive" : false
          },
          "Replacement Strategy" : {
            "displayName" : "Replacement Strategy",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Replacement Strategy",
            "sensitive" : false
          },
          "Text to Append" : {
            "displayName" : "Text to Append",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Text to Append",
            "sensitive" : false
          }
        },
        "retriedRelationships" : [ ],
        "retryCount" : 10,
        "runDurationMillis" : 100,
        "scheduledState" : "ENABLED",
        "schedulingPeriod" : "0 sec",
        "schedulingStrategy" : "TIMER_DRIVEN",
        "style" : { },
        "type" : "org.apache.nifi.processors.standard.ReplaceText",
        "yieldDuration" : "1 sec"
      }, {
        "autoTerminatedRelationships" : [ ],
        "backoffMechanism" : "PENALIZE_FLOWFILE",
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "nifi-update-attribute-nar",
          "group" : "org.apache.nifi",
          "version" : "2.0.0-M3"
        },
        "comments" : "",
        "componentType" : "PROCESSOR",
        "concurrentlySchedulableTaskCount" : 1,
        "executionNode" : "ALL",
        "groupIdentifier" : "27de6ae8-e66b-3f2a-bfb5-d4aa7e9d007f",
        "identifier" : "2ae79bd2-f053-3b75-9578-dc2cb9ad4e13",
        "maxBackoffPeriod" : "10 mins",
        "name" : "UpdateAttribute",
        "penaltyDuration" : "30 sec",
        "position" : {
          "x" : 368.0,
          "y" : -64.0
        },
        "properties" : {
          "Store State" : "Do not store state",
          "canonical-value-lookup-cache-size" : "100",
          "url" : "https://google.com"
        },
        "propertyDescriptors" : {
          "Delete Attributes Expression" : {
            "displayName" : "Delete Attributes Expression",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Delete Attributes Expression",
            "sensitive" : false
          },
          "Store State" : {
            "displayName" : "Store State",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Store State",
            "sensitive" : false
          },
          "canonical-value-lookup-cache-size" : {
            "displayName" : "Cache Value Lookup Cache Size",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "canonical-value-lookup-cache-size",
            "sensitive" : false
          },
          "Stateful Variables Initial Value" : {
            "displayName" : "Stateful Variables Initial Value",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Stateful Variables Initial Value",
            "sensitive" : false
          },
          "url" : {
            "displayName" : "url",
            "dynamic" : true,
            "identifiesControllerService" : false,
            "name" : "url",
            "sensitive" : false
          }
        },
        "retriedRelationships" : [ ],
        "retryCount" : 10,
        "runDurationMillis" : 25,
        "scheduledState" : "ENABLED",
        "schedulingPeriod" : "0 sec",
        "schedulingStrategy" : "TIMER_DRIVEN",
        "style" : { },
        "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
        "yieldDuration" : "1 sec"
      }, {
        "autoTerminatedRelationships" : [ "No Retry", "Retry", "Original" ],
        "backoffMechanism" : "YIELD_PROCESSOR",
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "nifi-standard-nar",
          "group" : "org.apache.nifi",
          "version" : "2.0.0-M3"
        },
        "comments" : "",
        "componentType" : "PROCESSOR",
        "concurrentlySchedulableTaskCount" : 1,
        "executionNode" : "ALL",
        "groupIdentifier" : "27de6ae8-e66b-3f2a-bfb5-d4aa7e9d007f",
        "identifier" : "2a360c94-7291-3699-9123-4485a155b63e",
        "maxBackoffPeriod" : "10 mins",
        "name" : "InvokeHTTP",
        "penaltyDuration" : "1 sec",
        "position" : {
          "x" : 368.0,
          "y" : 136.0
        },
        "properties" : {
          "Request Content-Encoding" : "DISABLED",
          "Request Multipart Form-Data Filename Enabled" : "true",
          "Request Chunked Transfer-Encoding Enabled" : "false",
          "HTTP/2 Disabled" : "False",
          "Connection Timeout" : "5 secs",
          "Response Cookie Strategy" : "DISABLED",
          "Socket Read Timeout" : "15 secs",
          "Socket Idle Connections" : "5",
          "Request Body Enabled" : "true",
          "HTTP URL" : "${url}",
          "Socket Idle Timeout" : "5 mins",
          "Response Redirects Enabled" : "True",
          "Socket Write Timeout" : "15 secs",
          "Response FlowFile Naming Strategy" : "RANDOM",
          "Response Cache Enabled" : "false",
          "Request Date Header Enabled" : "True",
          "Request Failure Penalization Enabled" : "false",
          "Response Body Attribute Size" : "256",
          "Response Generation Required" : "false",
          "Response Header Request Attributes Enabled" : "false",
          "HTTP Method" : "GET",
          "Request Content-Type" : "${mime.type}",
          "Request Digest Authentication Enabled" : "false",
          "Response Cache Size" : "10MB",
          "Response Body Ignored" : "false"
        },
        "propertyDescriptors" : {
          "Request Content-Encoding" : {
            "displayName" : "Request Content-Encoding",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Request Content-Encoding",
            "sensitive" : false
          },
          "proxy-configuration-service" : {
            "displayName" : "Proxy Configuration Service",
            "dynamic" : false,
            "identifiesControllerService" : true,
            "name" : "proxy-configuration-service",
            "sensitive" : false
          },
          "Request Multipart Form-Data Filename Enabled" : {
            "displayName" : "Request Multipart Form-Data Filename Enabled",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Request Multipart Form-Data Filename Enabled",
            "sensitive" : false
          },
          "Request Chunked Transfer-Encoding Enabled" : {
            "displayName" : "Request Chunked Transfer-Encoding Enabled",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Request Chunked Transfer-Encoding Enabled",
            "sensitive" : false
          },
          "HTTP/2 Disabled" : {
            "displayName" : "HTTP/2 Disabled",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "HTTP/2 Disabled",
            "sensitive" : false
          },
          "Connection Timeout" : {
            "displayName" : "Connection Timeout",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Connection Timeout",
            "sensitive" : false
          },
          "Response Cookie Strategy" : {
            "displayName" : "Response Cookie Strategy",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Response Cookie Strategy",
            "sensitive" : false
          },
          "Request Password" : {
            "displayName" : "Request Password",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Request Password",
            "sensitive" : true
          },
          "Socket Read Timeout" : {
            "displayName" : "Socket Read Timeout",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Socket Read Timeout",
            "sensitive" : false
          },
          "Socket Idle Connections" : {
            "displayName" : "Socket Idle Connections",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Socket Idle Connections",
            "sensitive" : false
          },
          "Request Body Enabled" : {
            "displayName" : "Request Body Enabled",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Request Body Enabled",
            "sensitive" : false
          },
          "HTTP URL" : {
            "displayName" : "HTTP URL",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "HTTP URL",
            "sensitive" : false
          },
          "Request OAuth2 Access Token Provider" : {
            "displayName" : "Request OAuth2 Access Token Provider",
            "dynamic" : false,
            "identifiesControllerService" : true,
            "name" : "Request OAuth2 Access Token Provider",
            "sensitive" : false
          },
          "Socket Idle Timeout" : {
            "displayName" : "Socket Idle Timeout",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Socket Idle Timeout",
            "sensitive" : false
          },
          "Response Redirects Enabled" : {
            "displayName" : "Response Redirects Enabled",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Response Redirects Enabled",
            "sensitive" : false
          },
          "Socket Write Timeout" : {
            "displayName" : "Socket Write Timeout",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Socket Write Timeout",
            "sensitive" : false
          },
          "Request Header Attributes Pattern" : {
            "displayName" : "Request Header Attributes Pattern",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Request Header Attributes Pattern",
            "sensitive" : false
          },
          "Response FlowFile Naming Strategy" : {
            "displayName" : "Response FlowFile Naming Strategy",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Response FlowFile Naming Strategy",
            "sensitive" : false
          },
          "Response Cache Enabled" : {
            "displayName" : "Response Cache Enabled",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Response Cache Enabled",
            "sensitive" : false
          },
          "Request Date Header Enabled" : {
            "displayName" : "Request Date Header Enabled",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Request Date Header Enabled",
            "sensitive" : false
          },
          "Request Failure Penalization Enabled" : {
            "displayName" : "Request Failure Penalization Enabled",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Request Failure Penalization Enabled",
            "sensitive" : false
          },
          "Response Body Attribute Size" : {
            "displayName" : "Response Body Attribute Size",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Response Body Attribute Size",
            "sensitive" : false
          },
          "SSL Context Service" : {
            "displayName" : "SSL Context Service",
            "dynamic" : false,
            "identifiesControllerService" : true,
            "name" : "SSL Context Service",
            "sensitive" : false
          },
          "Response Generation Required" : {
            "displayName" : "Response Generation Required",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Response Generation Required",
            "sensitive" : false
          },
          "Request User-Agent" : {
            "displayName" : "Request User-Agent",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Request User-Agent",
            "sensitive" : false
          },
          "Response Header Request Attributes Enabled" : {
            "displayName" : "Response Header Request Attributes Enabled",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Response Header Request Attributes Enabled",
            "sensitive" : false
          },
          "HTTP Method" : {
            "displayName" : "HTTP Method",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "HTTP Method",
            "sensitive" : false
          },
          "Request Username" : {
            "displayName" : "Request Username",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Request Username",
            "sensitive" : false
          },
          "Request Content-Type" : {
            "displayName" : "Request Content-Type",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Request Content-Type",
            "sensitive" : false
          },
          "Response Body Attribute Name" : {
            "displayName" : "Response Body Attribute Name",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Response Body Attribute Name",
            "sensitive" : false
          },
          "Request Digest Authentication Enabled" : {
            "displayName" : "Request Digest Authentication Enabled",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Request Digest Authentication Enabled",
            "sensitive" : false
          },
          "Request Multipart Form-Data Name" : {
            "displayName" : "Request Multipart Form-Data Name",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Request Multipart Form-Data Name",
            "sensitive" : false
          },
          "Response Cache Size" : {
            "displayName" : "Response Cache Size",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Response Cache Size",
            "sensitive" : false
          },
          "Response Body Ignored" : {
            "displayName" : "Response Body Ignored",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Response Body Ignored",
            "sensitive" : false
          }
        },
        "retriedRelationships" : [ "Failure" ],
        "retryCount" : 2,
        "runDurationMillis" : 0,
        "scheduledState" : "ENABLED",
        "schedulingPeriod" : "0 sec",
        "schedulingStrategy" : "TIMER_DRIVEN",
        "style" : { },
        "type" : "org.apache.nifi.processors.standard.InvokeHTTP",
        "yieldDuration" : "2 sec"
      }, {
        "autoTerminatedRelationships" : [ ],
        "backoffMechanism" : "PENALIZE_FLOWFILE",
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "nifi-update-attribute-nar",
          "group" : "org.apache.nifi",
          "version" : "2.0.0-M3"
        },
        "comments" : "",
        "componentType" : "PROCESSOR",
        "concurrentlySchedulableTaskCount" : 1,
        "executionNode" : "ALL",
        "groupIdentifier" : "27de6ae8-e66b-3f2a-bfb5-d4aa7e9d007f",
        "identifier" : "9420209d-10d2-3a3a-9f07-1088061d7d5d",
        "maxBackoffPeriod" : "10 mins",
        "name" : "UpdateAttribute",
        "penaltyDuration" : "30 sec",
        "position" : {
          "x" : 1104.0,
          "y" : 176.0
        },
        "properties" : {
          "Store State" : "Do not store state",
          "canonical-value-lookup-cache-size" : "100",
          "url" : "https://google.com"
        },
        "propertyDescriptors" : {
          "Delete Attributes Expression" : {
            "displayName" : "Delete Attributes Expression",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Delete Attributes Expression",
            "sensitive" : false
          },
          "Store State" : {
            "displayName" : "Store State",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Store State",
            "sensitive" : false
          },
          "canonical-value-lookup-cache-size" : {
            "displayName" : "Cache Value Lookup Cache Size",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "canonical-value-lookup-cache-size",
            "sensitive" : false
          },
          "Stateful Variables Initial Value" : {
            "displayName" : "Stateful Variables Initial Value",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Stateful Variables Initial Value",
            "sensitive" : false
          },
          "url" : {
            "displayName" : "url",
            "dynamic" : true,
            "identifiesControllerService" : false,
            "name" : "url",
            "sensitive" : false
          }
        },
        "retriedRelationships" : [ ],
        "retryCount" : 10,
        "runDurationMillis" : 25,
        "scheduledState" : "ENABLED",
        "schedulingPeriod" : "0 sec",
        "schedulingStrategy" : "TIMER_DRIVEN",
        "style" : { },
        "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
        "yieldDuration" : "1 sec"
      } ],
      "remoteProcessGroups" : [ ],
      "scheduledState" : "ENABLED",
      "statelessFlowTimeout" : "1 min"
    } ],
    "processors" : [ {
      "autoTerminatedRelationships" : [ "failure" ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-kafka-2-6-nar",
        "group" : "org.apache.nifi",
        "version" : "2.0.0-M3"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "7d57564a-c37d-31da-9c9e-065a933a3056",
      "maxBackoffPeriod" : "10 mins",
      "name" : "PublishKafka_2_6",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : 2152.0,
        "y" : 216.0
      },
      "properties" : {
        "compression.type" : "none",
        "bootstrap.servers" : "localhost:9092",
        "sasl.mechanism" : "GSSAPI",
        "max.block.ms" : "5 sec",
        "message-header-encoding" : "UTF-8",
        "ack.wait.time" : "5 secs",
        "use-transactions" : "false",
        "acks" : "0",
        "security.protocol" : "PLAINTEXT",
        "max.request.size" : "1 MB",
        "sasl.token.auth" : "false",
        "Failure Strategy" : "Route to Failure",
        "partitioner.class" : "org.apache.kafka.clients.producer.internals.DefaultPartitioner",
        "topic" : "result",
        "key-attribute-encoding" : "utf-8"
      },
      "propertyDescriptors" : {
        "compression.type" : {
          "displayName" : "Compression Type",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "compression.type",
          "sensitive" : false
        },
        "attribute-name-regex" : {
          "displayName" : "Attributes to Send as Headers (Regex)",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "attribute-name-regex",
          "sensitive" : false
        },
        "bootstrap.servers" : {
          "displayName" : "Kafka Brokers",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "bootstrap.servers",
          "sensitive" : false
        },
        "sasl.kerberos.service.name" : {
          "displayName" : "Kerberos Service Name",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "sasl.kerberos.service.name",
          "sensitive" : false
        },
        "kafka-key" : {
          "displayName" : "Kafka Key",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "kafka-key",
          "sensitive" : false
        },
        "partition" : {
          "displayName" : "Partition",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "partition",
          "sensitive" : false
        },
        "sasl.mechanism" : {
          "displayName" : "SASL Mechanism",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "sasl.mechanism",
          "sensitive" : false
        },
        "max.block.ms" : {
          "displayName" : "Max Metadata Wait Time",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "max.block.ms",
          "sensitive" : false
        },
        "message-header-encoding" : {
          "displayName" : "Message Header Encoding",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "message-header-encoding",
          "sensitive" : false
        },
        "kerberos-user-service" : {
          "displayName" : "Kerberos User Service",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "kerberos-user-service",
          "sensitive" : false
        },
        "message-demarcator" : {
          "displayName" : "Message Demarcator",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "message-demarcator",
          "sensitive" : false
        },
        "transactional-id-prefix" : {
          "displayName" : "Transactional Id Prefix",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "transactional-id-prefix",
          "sensitive" : false
        },
        "ack.wait.time" : {
          "displayName" : "Acknowledgment Wait Time",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "ack.wait.time",
          "sensitive" : false
        },
        "sasl.username" : {
          "displayName" : "Username",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "sasl.username",
          "sensitive" : false
        },
        "use-transactions" : {
          "displayName" : "Use Transactions",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "use-transactions",
          "sensitive" : false
        },
        "acks" : {
          "displayName" : "Delivery Guarantee",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "acks",
          "sensitive" : false
        },
        "aws.profile.name" : {
          "displayName" : "AWS Profile Name",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "aws.profile.name",
          "sensitive" : false
        },
        "security.protocol" : {
          "displayName" : "Security Protocol",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "security.protocol",
          "sensitive" : false
        },
        "ssl.context.service" : {
          "displayName" : "SSL Context Service",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "ssl.context.service",
          "sensitive" : false
        },
        "max.request.size" : {
          "displayName" : "Max Request Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "max.request.size",
          "sensitive" : false
        },
        "sasl.token.auth" : {
          "displayName" : "Token Authentication",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "sasl.token.auth",
          "sensitive" : false
        },
        "Failure Strategy" : {
          "displayName" : "Failure Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Failure Strategy",
          "sensitive" : false
        },
        "partitioner.class" : {
          "displayName" : "Partitioner class",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "partitioner.class",
          "sensitive" : false
        },
        "topic" : {
          "displayName" : "Topic Name",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "topic",
          "sensitive" : false
        },
        "sasl.password" : {
          "displayName" : "Password",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "sasl.password",
          "sensitive" : true
        },
        "key-attribute-encoding" : {
          "displayName" : "Key Attribute Encoding",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "key-attribute-encoding",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.kafka.pubsub.PublishKafka_2_6",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-kafka-2-6-nar",
        "group" : "org.apache.nifi",
        "version" : "2.0.0-M3"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "2f559c1a-a028-301a-ada8-ebc9407be87b",
      "maxBackoffPeriod" : "10 mins",
      "name" : "ConsumeKafka_2_6",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : 2144.0,
        "y" : -88.0
      },
      "properties" : {
        "Commit Offsets" : "false",
        "max.poll.records" : "10000",
        "group.id" : "articles_3",
        "bootstrap.servers" : "#{KafkaBrokers}",
        "topic_type" : "names",
        "security.protocol" : "PLAINTEXT",
        "max-uncommit-offset-wait" : "1 secs",
        "sasl.mechanism" : "GSSAPI",
        "sasl.token.auth" : "false",
        "honor-transactions" : "false",
        "Communications Timeout" : "60 secs",
        "topic" : "#{TopicName}",
        "separate-by-key" : "false",
        "message-header-encoding" : "UTF-8",
        "key-attribute-encoding" : "utf-8",
        "auto.offset.reset" : "latest"
      },
      "propertyDescriptors" : {
        "header-name-regex" : {
          "displayName" : "Headers to Add as Attributes (Regex)",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "header-name-regex",
          "sensitive" : false
        },
        "Commit Offsets" : {
          "displayName" : "Commit Offsets",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Commit Offsets",
          "sensitive" : false
        },
        "sasl.username" : {
          "displayName" : "Username",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "sasl.username",
          "sensitive" : false
        },
        "max.poll.records" : {
          "displayName" : "Max Poll Records",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "max.poll.records",
          "sensitive" : false
        },
        "group.id" : {
          "displayName" : "Group ID",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "group.id",
          "sensitive" : false
        },
        "bootstrap.servers" : {
          "displayName" : "Kafka Brokers",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "bootstrap.servers",
          "sensitive" : false
        },
        "topic_type" : {
          "displayName" : "Topic Name Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "topic_type",
          "sensitive" : false
        },
        "aws.profile.name" : {
          "displayName" : "AWS Profile Name",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "aws.profile.name",
          "sensitive" : false
        },
        "sasl.kerberos.service.name" : {
          "displayName" : "Kerberos Service Name",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "sasl.kerberos.service.name",
          "sensitive" : false
        },
        "security.protocol" : {
          "displayName" : "Security Protocol",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "security.protocol",
          "sensitive" : false
        },
        "ssl.context.service" : {
          "displayName" : "SSL Context Service",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "ssl.context.service",
          "sensitive" : false
        },
        "max-uncommit-offset-wait" : {
          "displayName" : "Max Uncommitted Time",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "max-uncommit-offset-wait",
          "sensitive" : false
        },
        "sasl.mechanism" : {
          "displayName" : "SASL Mechanism",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "sasl.mechanism",
          "sensitive" : false
        },
        "sasl.token.auth" : {
          "displayName" : "Token Authentication",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "sasl.token.auth",
          "sensitive" : false
        },
        "honor-transactions" : {
          "displayName" : "Honor Transactions",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "honor-transactions",
          "sensitive" : false
        },
        "Communications Timeout" : {
          "displayName" : "Communications Timeout",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Communications Timeout",
          "sensitive" : false
        },
        "topic" : {
          "displayName" : "Topic Name(s)",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "topic",
          "sensitive" : false
        },
        "separate-by-key" : {
          "displayName" : "Separate By Key",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "separate-by-key",
          "sensitive" : false
        },
        "kerberos-user-service" : {
          "displayName" : "Kerberos User Service",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "kerberos-user-service",
          "sensitive" : false
        },
        "message-header-encoding" : {
          "displayName" : "Message Header Encoding",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "message-header-encoding",
          "sensitive" : false
        },
        "message-demarcator" : {
          "displayName" : "Message Demarcator",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "message-demarcator",
          "sensitive" : false
        },
        "sasl.password" : {
          "displayName" : "Password",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "sasl.password",
          "sensitive" : true
        },
        "key-attribute-encoding" : {
          "displayName" : "Key Attribute Encoding",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "key-attribute-encoding",
          "sensitive" : false
        },
        "auto.offset.reset" : {
          "displayName" : "Offset Reset",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "auto.offset.reset",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.kafka.pubsub.ConsumeKafka_2_6",
      "yieldDuration" : "1 sec"
    } ],
    "remoteProcessGroups" : [ ],
    "scheduledState" : "ENABLED",
    "statelessFlowTimeout" : "1 min"
  },
  "flowEncodingVersion" : "1.0",
  "latest" : false,
  "parameterContexts" : {
    "ExecuteStatelessPG" : {
      "componentType" : "PARAMETER_CONTEXT",
      "inheritedParameterContexts" : [ ],
      "name" : "ExecuteStatelessPG",
      "parameters" : [ {
        "description" : "",
        "name" : "KafkaBrokers",
        "provided" : false,
        "sensitive" : false,
        "value" : "localhost:9092"
      }, {
        "description" : "",
        "name" : "TopicName",
        "provided" : false,
        "sensitive" : false,
        "value" : "articles"
      } ]
    }
  },
  "parameterProviders" : { },
  "snapshotMetadata" : {
    "flowIdentifier" : "ExecuteStatelessPG200M3",
    "timestamp" : 0
  }
}